.histoire{
    min-height: 80ch;
    background-image: url('../../assets/images/logo_bg.png') ;
    background-repeat: no-repeat;
    background-attachment:scroll;  
    background-size: contain;
    background-position: center;
    text-align: center;
    border: 1px solid black;
}

