<div class="navbar">
    <div id="logo">
        <img src="../../assets/images/logo-bar.png" alt="">
    </div>
    <div class="nav">
        <div class="title">
            <h1>Entente football club</h1>
            <h2> Dieudonne - Puiseux - Lachapelle en Serval </h2>
        </div>
        <div class="link">
            <a routerLink="/actus" >Actualités</a>
            <a routerLink="/images">Photos</a>
            <a routerLink="/entrainements">Entrainements</a>
            <a routerLink="/histoire">Histoire</a>
            <a>Sponsors</a>
            <a>Contact</a>
        </div>
    </div>
    <div id="coach">
        <a routerLink="/login"><img src="../../assets/images/coach.png" alt=""></a> 
    </div>
   
</div>
