<div class="entrainements">

     <div class="horaires">
            <h1>Adultes</h1>
    </div>

    <div class="centre">
        <h1>Horaires d'entrainements</h1>
        <div class="image">
            <div >
                <img src="../../assets/images/joueur_adulte.png" alt="">
           </div>
           <div >
                <img src="../../assets/images/joueur_enfant.png" alt="">
            </div>
        </div>
    </div>

     <div class="horaires">
        <h1>Enfants</h1>
    </div>

</div>
