.error404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 50%;
    margin: 2%;
}

a{
    border: 2px solid black!important;
    display: block;
    text-align: center;
}

